:root {
  --fg-color: #1a1a1a;
  --bg-color: #fdfdfd;
  --border-color: #e6e6e6;
  --quote-fg-color: #606060;
  --quote-border-color: #e6e6e6;
  --cta-bg: #149a80;
  --cta-border: #128f76;
  --cta-text: #fff;
  --cta-hover-bg: #18bc9c;
  --cta-hover-border: #18bc9c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: #d0cfcc;
    --bg-color: #2e303e;
    --border-color: #606060;
    --quote-fg-color: #e6e6e6;
    --quote-border-color: #606060;
  }
}

html {
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 20px;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

body {
  margin: 0 auto;
  max-width: 40em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 1em;
  }
}

p {
  margin: 1em 0;
}

a {
  color: var(--cta-hover-bg);
}

a:visited {
  color: var(--cta-hover-bg);
}

a:hover {
  color: var(--cta-bg);
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}

h6 {
  font-weight: normal;
}

ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li > ol, li > ul {
  margin-top: 0;
}

blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid var(--quote-border-color);
  color: var(--quote-fg-color);
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
}

pre {
  margin: 1em 0;
  overflow: auto;
  background-color: #161B22;
  padding: 1em;
}

pre code {
  padding: 0;
  overflow: visible;
}

.sourceCode {
 background-color: transparent;
 overflow: visible;
}

hr {
  background-color: var(--fg-color);
  border: none;
  height: 1px;
  margin: 1em 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid var(--fg-color);
  border-bottom: 1px solid var(--fg-color);
}

th {
  border-top: 1px solid var(--fg-color);
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-align: left;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
  vertical-align: top;
  border-bottom: 1px solid var(--border-color);
}

header {
  margin-bottom: 4em;
  text-align: center;
}

code{white-space: pre;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}

header.hero {
  text-align: center;
  margin-bottom: 0.5rem;
}

header.hero a {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
  border-radius: 5px;
  background-color: var(--cta-bg);
  color: var(--cta-text) !important;
  display: inline-block;
  padding: .1rem 1rem;
  text-decoration: none;
  transition: .4s;
}

header.hero a:hover {
  background-color: var(--cta-hover-bg);
  border-color: var(--cta-hover-border);
}
